asgiref==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==4.0.4
django-autocomplete-light==3.9.4
django-bootstrap-v5==1.0.11
django-columns==0.1.0
django-heroku==0.3.1
django-location==2.1.1
django-location-field==2.1.0
django-mailbox==4.8.2
django-social-auth==0.7.28
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
jsonfield==3.1.0
lxml==4.8.0
oauth2==1.9.0.post1
Pillow==9.1.1
psycopg2==2.9.3
pyicloud-dwoh==0.4.1
pyparsing==3.0.9
python-decouple==3.6
python-openid==2.2.5
pytz==2022.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
urllib3==1.26.9
whitenoise==6.1.0
