@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

.navbar-brand{
font-family: 'Rubik Moonrocks';
font-size:40px;
}

h1{
color:orange;
margin-top:2.5%;
margin-bottom:2.5%;
}
.card{
margin-bottom:15%;
margin-right:10%;
}
.card-title{
margin-left:3%;
margin-top:1.5%;
}





