{%extends 'galleries/base.html'%}

{% block content %}
{{block.super}}


<div class="container">

        {%for image in gallery%}
        <div class="col-xs-4 col-sm-4 col-md-4 col-md-4">
            <h2 class="text-center">
                {{image.title}}
            </h2>
            <img src="{{image.pic.url}}" class="rounded img-responsive" alt="..." width="50%" type="button" data-toggle="exampleModalCenter" data-target="#modal">
        </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{image.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{image.pic.url}}" class="rounded img-responsive" alt="..." width="100%">
          <h5 class="modal-text">{{image.description}}</h5>
      </div>
      <div class="modal-footer">
          <i>Published:{{image.published}} by {{image.editor}}</i>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    {%empty%}
        <h2 class="text-center">
            No Images Yet
        </h2>
    {%endfor%}

</div>




{% endblock %}