{%extends 'galleries/base.html'%}

{% block content %}
{{block.super}}


<div class="container">

    {%for image in gallery%}
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-md-4">
            <h2 class="text-center">
                {{image.title}}
            </h2>
            <img src="{{image.pic.url}}" class="rounded img-responsive" alt="..." width="50%">
        </div>
    </div>
    {%empty%}
    <div class="row">
        <h2 class="text-center">
            No Images Yet
        </h2>
    </div>
    {%endfor%}

</div>


{% endblock %}