{%extends 'galleries/base.html'%}

{%block content %}

<div class="container">

    <div class="row">
        <img src="{{image.pic.url}}" class="img-responsive" alt="image">
    </div>

    <div class="row">
        <p>
            {{image.description}}
        </p>
    </div>

    <div class="row">
        <p>
            Posted {{image.published|timesince}} by {{image.editor.first_name}}
        </p>
    </div>

            <h3 id="url">


            </h3>
            <button id="urlbtn" onclick="copyToClipboard('#url')">

            </button>

            <button type="button" onclick="getURL();">Get Page URL</button>
</div>

{%endblock %}