{%extends 'galleries/base.html'%}
{%block content%}


<div class="container">

    <div class="row">
        {%if images%}
        <h2>
            We found {{images|length}} results of your tag {{message}}
        </h2>
        {%else%}
        <h2>
            We found 0 image results of your tag {{message}}
        </h2>
        {%endif%}
    </div>

    <div class="row">
        {%if images%}
        {%for image in images%}
        <div class="col-sm-6 col-md-3">
            <h1>
                {{image.title}}
            </h1>
        </div>
        {%endfor%}
        {%endif%}
    </div>

</div>
{%endblock%}